# PANDAS

At the core of pandas are 3 data-structures:
- Series
- DataFrames
- Panel

![](../data-csv/media-pics-videos/pandas-data-structure.png)

![](../data-csv/media-pics-videos/pandas-data-structure1.png)

# Series

A SERIES IS USED TO MODEL ONE DIMENSIONAL DATA, SIMILAR TO A LIST IN Python. The Series object also has a few more bits of data, including an index and a name. A common idea through pandas is the notion of an axis. Because a series is one dimensional, it has a single axisâ€”the index.

In [ ]:
#First step is to import pandas
import pandas as pd

In [ ]:
#Create a series
cisco_weekly_share_price = pd.Series([39, 45, 48, 49, 42], name="share-price")
cisco_weekly_share_price
# Left most column is called Index (or axis). 0,1,2..etc are index-labels or axis-labels. 
# Dataframe will have 2-axis, one for column and one for row
# Right column is the data/values
# Last line prints name of series and data-type

In [ ]:
# Get the data-type of the series
cisco_weekly_share_price.dtypes

In [ ]:
# Get the dimension of the series
cisco_weekly_share_price.shape

In [ ]:
# Get the first five elements of the series
cisco_weekly_share_price.head

In [ ]:
# Get the last five elements of the series
cisco_weekly_share_price.tail

### Index of the series
* The default values for an index are linearly incrementing integers starting from 0
* We can over-ride default index by specifying "index" parameter
* "index" needs not be always interger, it can be of any type (including strings)

In [ ]:
# Inspect the index of the series
# The default values for an index are linearly incrementing integers
cisco_weekly_share_price.index

In [ ]:
# Index last element of the series
cisco_weekly_share_price.index[-1]

In [ ]:
# Index can string also
cisco_weekly_share_price = pd.Series([39, 45, 48, 49, 42], name="share-price", 
                                     index=['week3','week1','week4','week2','week5'])
cisco_weekly_share_price.index

In [ ]:
# Index the string
cisco_weekly_share_price['week4']

### Data/values in the series
* Values column needs not be homogenous, it can be mixture of data-types. In that case dtype will be object(string)

In [ ]:
cricketer_details = pd.Series(['Sachin','Tendulkar',46,100],name="details",
                             index=['First Name','Last Name','Age','No of centuries'])
cricketer_details

### CRUD of series

#### Creating series using lists and dictionaries
- Lists can be used to init series
- Dictionaries can be used to init series

In [ ]:
cricketer_details = pd.Series(['Sachin','Tendulkar',46,100],name="details",
                             index=['First Name','Last Name','Age','No of centuries'])
cricketer_details

In [ ]:
cricketer_details = pd.Series({'First Name':'Sachin','Last Name': 'Tendulkar', 'Age':46, 'No of centuries':100},name="details",
                             index=['First Name','Last Name','Age','No of centuries'])
cricketer_details

#### Reading from Series
- Use index directly
- Use iterator and iterate through Series in a for loop
- Use Series.index and Series.values to iterate through index and data respectively
- Use Series.index and Series.values in logical expressions

In [ ]:
# Use index directly
cricketer_details['First Name']

In [ ]:
# Iterate over all the entries in the series
for item in cricketer_details.values:
    print(item)

In [ ]:
# Iterate over all the indices in the series
for item in cricketer_details.index:
    print(item)

In [ ]:
# Logical expressions using Series
'Sachin' in cricketer_details.values

In [ ]:
# Logical expressions using Series
'First Name' in cricketer_details.index

In [ ]:
for item in cricketer_details.iteritems():
    print(item)

#### Updating Series data
- If the index is existant, value is updated in-place for that index
- If the index is non-existant, value is appended to the series with new index
- If the index has multiple-indices, all values are updated
- To update an item based on the location use .iloc
- The series object has a .set_value method that will both add a new item to the existing series and return a series

In [ ]:
# To update a value for a given index label, 
# the standard index assignment operation works and performs the update in-place
cricketer_details['No of centuries'] = 101
cricketer_details

In [ ]:
# The index assignment operation also works to add a new index and a value.
cricketer_details['No of ODI'] = 350
cricketer_details

In [ ]:
#  To update values based purely on position, perform an index assignment of the .iloc attribute
cricketer_details.iloc[0] = 'Sachin T'
cricketer_details

#### Deletion
Deletion is not common in the pandas world. It is more common to use filters or masks to create a new series that has only the items that you want. However, if you really want to remove entries, you can delete based on index entries.

In [ ]:
# Delete an item using index
del cricketer_details['No of ODI']
cricketer_details

## Series Indexing

## Putting it together

In [2]:
import pandas as pd
#Read the CSV file from the district-wise-education data for India
df = pd.read_csv("../data-csv/csv-files/2015_16_Districtwise.csv")

In [3]:
#Read the first few rows of the dataframe
df.head()

,AC_YEAR,STATCD,DISTCD,STATNAME,DISTNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,...,UUNI_ALL,UUNI_SC,UUNI_ST,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
0,2015-16,1,101,JAMMU & KASHMIR,KUPWARA,1,13,391,104,875564.0,...,21322,26,2594,3489,5315,27,62,23,852,239
1,2015-16,1,102,JAMMU & KASHMIR,BARAMULA,1,18,678,144,1015503.0,...,17307,0,1571,4127,5800,210,53,30,1665,360
2,2015-16,1,103,JAMMU & KASHMIR,SRINAGAR,1,8,94,65,1269751.0,...,5444,31,408,817,3284,886,11,0,2873,40
3,2015-16,1,104,JAMMU & KASHMIR,BADGAM,1,13,523,104,735753.0,...,12469,18,857,2290,3837,119,45,8,1035,325
4,2015-16,1,105,JAMMU & KASHMIR,PULWAMA,1,8,359,64,570060.0,...,7408,17,855,1688,2584,151,67,5,1101,209

In [4]:
#Read the last few rows of the dataframe
df.tail()

,AC_YEAR,STATCD,DISTCD,STATNAME,DISTNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,...,UUNI_ALL,UUNI_SC,UUNI_ST,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
675,2015-16,36,3606,TELANGANA,RANGA REDDY,1,37,876,137,5296396.0,...,93203,25534,9457,7224,8298,529,0,121,15458,3337
676,2015-16,36,3607,TELANGANA,MAHBUBNAGAR,1,64,1458,230,4042191.0,...,134277,31001,14590,8936,7007,179,0,44,3730,3327
677,2015-16,36,3608,TELANGANA,NALGONDA,1,59,1117,216,3483648.0,...,96804,26577,14015,7592,4534,103,0,208,4026,3049
678,2015-16,36,3609,TELANGANA,WARANGAL,1,51,993,211,3522644.0,...,92224,23172,23525,6674,4677,153,0,207,7035,3060
679,2015-16,36,3610,TELANGANA,KHAMMAM,1,41,783,185,2798214.0,...,70234,15593,25217,6047,4015,104,0,32,3103,2228

In [5]:
#Shape api will list the number of rows and columns
df.shape

(680, 819)

In [6]:
#Print the data-types of different column
df.dtypes

AC_YEAR     object
STATCD       int64
DISTCD       int64
STATNAME    object
DISTNAME    object
             ...
TOTCLS3G     int64
TOTCLS4G     int64
TOTCLS5G     int64
TOTCLS6G     int64
TOTCLS7G     int64
Length: 819, dtype: object

In [7]:
#Print the data-type of a particular column
print(df.dtypes['STATNAME'])

object

In [8]:
#List the columns in the table
list(df.columns)

['AC_YEAR',
 'STATCD',
 'DISTCD',
 'STATNAME',
 'DISTNAME',
 'DISTRICTS',
 'BLOCKS',
 'VILLAGES',
 'CLUSTERS',
 'TOTPOPULAT',
 'P_URB_POP',
 'POPULATION_0_6',
 'GROWTHRATE',
 'SEXRATIO',
 'P_SC_POP',
 'P_ST_POP',
 'OVERALL_LI',
 'FEMALE_LIT',
 'MALE_LIT',
 'AREA_SQKM',
 'TOT_6_10_15',
 'TOT_11_13_15',
 'SCH1',
 'SCH2',
 'SCH3',
 'SCH4',
 'SCH5',
 'SCH6',
 'SCH7',
 'SCH9',
 'SCHTOT',
 'SCH1G',
 'SCH2G',
 'SCH3G',
 'SCH4G',
 'SCH5G',
 'SCH6G',
 'SCH7G',
 'SCH9G',
 'SCHTOTG',
 'SCH1P',
 'SCH2P',
 'SCH3P',
 'SCH4P',
 'SCH5P',
 'SCH6P',
 'SCH7P',
 'SCH9P',
 'SCHTOTP',
 'SCH1M',
 'SCH2M',
 'SCH3M',
 'SCH4M',
 'SCH5M',
 'SCH6M',
 'SCH7M',
 'SCH9M',
 'SCHTOTM',
 'SCH1GR',
 'SCH2GR',
 'SCH3GR',
 'SCH4GR',
 'SCH5GR',
 'SCH6GR',
 'SCH7GR',
 'SCH9GR',
 'SCHTOTGR',
 'SCH1GA',
 'SCH2GA',
 'SCH3GA',
 'SCH4GA',
 'SCH5GA',
 'SCH6GA',
 'SCH7GA',
 'SCH9GA',
 'SCHTOTGA',
 'SCH1PR',
 'SCH2PR',
 'SCH3PR',
 'SCH4PR',
 'SCH5PR',
 'SCH6PR',
 'SCH7PR',
 'SCH9PR',
 'SCHTOTPR',
 'SCHBOY1',
 'SCHBOY2',
 'SCHBOY3',
 'SCHBOY4',
 'SCHBOY5',
 'SCHBOY6',
 'SCHBOY7',
 'SCHBOY9',
 'SCHBOYTOT',
 'SCHGIR1',
 'SCHGIR2',
 'SCHGIR3',
 'SCHGIR4',
 'SCHGIR5',
 'SCHGIR6',
 'SCHGIR7',
 'SCHGIR9',
 'SCHGIRTOT',
 'ENR1',
 'ENR2',
 'ENR3',
 'ENR4',
 'ENR5',
 'ENR6',
 'ENR7',
 'ENR9',
 'ENRTOT',
 'ENR1G',
 'ENR2G',
 'ENR3G',
 'ENR4G',
 'ENR5G',
 'ENR6G',
 'ENR7G',
 'ENR9G',
 'ENRTOTG',
 'ENR1P',
 'ENR2P',
 'ENR3P',
 'ENR4P',
 'ENR5P',
 'ENR6P',
 'ENR7P',
 'ENR9P',
 'ENRTOTP',
 'ENR1M',
 'ENR2M',
 'ENR3M',
 'ENR4M',
 'ENR5M',
 'ENR6M',
 'ENR7M',
 'ENR9M',
 'ENRTOTM',
 'ENR1GR',
 'ENR2GR',
 'ENR3GR',
 'ENR4GR',
 'ENR5GR',
 'ENR6GR',
 'ENR7GR',
 'ENR9GR',
 'ENRTOTGR',
 'ENR1PR',
 'ENR2PR',
 'ENR3PR',
 'ENR4PR',
 'ENR5PR',
 'ENR6PR',
 'ENR7PR',
 'ENR9PR',
 'ENRTOTPR',
 'TCH1G',
 'TCH2G',
 'TCH3G',
 'TCH4G',
 'TCH5G',
 'TCH6G',
 'TCH7G',
 'TCH9G',
 'TCHTOTG',
 'TCH1P',
 'TCH2P',
 'TCH3P',
 'TCH4P',
 'TCH5P',
 'TCH6P',
 'TCH7P',
 'TCH9P',
 'TCHTOTP',
 'TCH1M',
 'TCH2M',
 'TCH3M',
 'TCH4M',
 'TCH5M',
 'TCH6M',
 'TCH7M',
 'TCH9M',
 'TCHTOTM',
 'SCLS1',
 'SCLS2',
 'SCLS3',
 'SCLS4',
 'SCLS5',
 'SCLS6',
 'SCLS7',
 'SCLSTOT',
 'STCH1',
 'STCH2',
 'STCH3',
 'STCH4',
 'STCH5',
 'STCH6',
 'STCH7',
 'STCHTOT',
 'ROAD1',
 'ROAD2',
 'ROAD3',
 'ROAD4',
 'ROAD5',
 'ROAD6',
 'ROAD7',
 'ROADTOT',
 'SPLAY1',
 'SPLAY2',
 'SPLAY3',
 'SPLAY4',
 'SPLAY5',
 'SPLAY6',
 'SPLAY7',
 'SPLAYTOT',
 'SBNDR1',
 'SBNDR2',
 'SBNDR3',
 'SBNDR4',
 'SBNDR5',
 'SBNDR6',
 'SBNDR7',
 'SBNDRTOT',
 'SGTOIL1',
 'SGTOIL2',
 'SGTOIL3',
 'SGTOIL4',
 'SGTOIL5',
 'SGTOIL6',
 'SGTOIL7',
 'SGTOILTOT',
 'SBTOIL1',
 'SBTOIL2',
 'SBTOIL3',
 'SBTOIL4',
 'SBTOIL5',
 'SBTOIL6',
 'SBTOIL7',
 'SBTOILTOT',
 'SWAT1',
 'SWAT2',
 'SWAT3',
 'SWAT4',
 'SWAT5',
 'SWAT6',
 'SWAT7',
 'SWATTOT',
 'SELE1',
 'SELE2',
 'SELE3',
 'SELE4',
 'SELE5',
 'SELE6',
 'SELE7',
 'SELETOT',
 'SCOMP1',
 'SCOMP2',
 'SCOMP3',
 'SCOMP4',
 'SCOMP5',
 'SCOMP6',
 'SCOMP7',
 'SCOMPTOT',
 'SRAM1',
 'SRAM2',
 'SRAM3',
 'SRAM4',
 'SRAM5',
 'SRAM6',
 'SRAM7',
 'SRAMTOT',
 'SRAMN1',
 'SRAMN2',
 'SRAMN3',
 'SRAMN4',
 'SRAMN5',
 'SRAMN6',
 'SRAMN7',
 'SRAMNTOT',
 'ESTD1',
 'ESTD2',
 'ESTD3',
 'ESTD4',
 'ESTD5',
 'ESTD6',
 'ESTD7',
 'ESTDTOT',
 'MDM1',
 'MDM2',
 'MDM3',
 'MDM4',
 'MDM5',
 'MDM6',
 'MDM7',
 'MDMTOT',
 'KIT1',
 'KIT2',
 'KIT3',
 'KIT4',
 'KIT5',
 'KIT6',
 'KIT7',
 'KITTOT',
 'KITS1',
 'KITS2',
 'KITS3',
 'KITS4',
 'KITS5',
 'KITS6',
 'KITS7',
 'KITSTOT',
 'ENR501',
 'ENR502',
 'ENR503',
 'ENR504',
 'ENR505',
 'ENR506',
 'ENR507',
 'ENR509',
 'ENR50TOT',
 'SMC1',
 'SMC2',
 'SMC3',
 'SMC4',
 'SMC5',
 'SMC6',
 'SMC7',
 'SMCTOT',
 'CLS1',
 'CLS2',
 'CLS3',
 'CLS4',
 'CLS5',
 'CLS6',
 'CLS7',
 'CLSTOT',
 'TCH1',
 'TCH2',
 'TCH3',
 'TCH4',
 'TCH5',
 'TCH6',
 'TCH7',
 'TCHTOT',
 'TCHF1',
 'TCHF2',
 'TCHF3',
 'TCHF4',
 'TCHF5',
 'TCHF6',
 'TCHF7',
 'TCHFTOT',
 'TCHM1',
 'TCHM2',
 'TCHM3',
 'TCHM4',
 'TCHM5',
 'TCHM6',
 'TCHM7',
 'TCHM9',
 'ENRG1',
 'ENRG2',
 'ENRG3',
 'ENRG4',
 'ENRG5',
 'ENRG6',
 'ENRG7',
 'ENRGTOT',
 'PREP',
 'PRESTD',
 'PPFTCH',
 'PPMTCH',
 'PMTCH',
 'PFTCH',
 'TCHSCM1',
 'TCHSCM2',
 'TCHSCM3',
 'TCHSCM4',
 'TCHSCM5',
 'TCHSCM6',
 'TCHSCM7',
 'TCHSCF1',
 'TCHSCF2',
 'TCHSCF3',
 'TCHSCF4',
 'TCHSCF5',
 'TCHSCF6',
 'TCHSCF7',
 'TCHSTM1',
 'TCHSTM2',
 'TCHSTM3',
 'TCHSTM4',
 'TCHSTM5',
 'TCHSTM6',
 'TCHSTM7',
 'TCHSTF1',
 'TCHSTF2',
 'TCHSTF3',
 'TCHSTF4',
 'TCHSTF5',
 'TCHSTF6',
 'TCHSTF7',
 'TCHOBCM1',
 'TCHOBCM2',
 'TCHOBCM3',
 'TCHOBCM4',
 'TCHOBCM5',
 'TCHOBCM6',
 'TCHOBCM7',
 'TCHOBCF1',
 'TCHOBCF2',
 'TCHOBCF3',
 'TCHOBCF4',
 'TCHOBCF5',
 'TCHOBCF6',
 'TCHOBCF7',
 'TCH_TRNRM1',
 'TCH_TRNRM2',
 'TCH_TRNRM3',
 'TCH_TRNRM4',
 'TCH_TRNRM5',
 'TCH_TRNRM6',
 'TCH_TRNRM7',
 'TCH_TRNRF1',
 'TCH_TRNRF2',
 'TCH_TRNRF3',
 'TCH_TRNRF4',
 'TCH_TRNRF5',
 'TCH_TRNRF6',
 'TCH_TRNRF7',
 'PGRMTCH',
 'PGRFTCH',
 'GRMTCH',
 'GRFTCH',
 'PGCMTCH',
 'PGCFTCH',
 'PCMTCH',
 'PCFTCH',
 'C1_B',
 'C2_B',
 'C3_B',
 'C4_B',
 'C5_B',
 'C6_B',
 'C7_B',
 'C8_B',
 'C9_B',
 'C1_G',
 'C2_G',
 'C3_G',
 'C4_G',
 'C5_G',
 'C6_G',
 'C7_G',
 'C8_G',
 'C9_G',
 'C15A',
 'C68A',
 'C1_BD',
 'C2_BD',
 'C3_BD',
 'C4_BD',
 'C5_BD',
 'C6_BD',
 'C7_BD',
 'C8_BD',
 'C1_GD',
 'C2_GD',
 'C3_GD',
 'C4_GD',
 'C5_GD',
 'C6_GD',
 'C7_GD',
 'C8_GD',
 'C1_BR',
 'C2_BR',
 'C3_BR',
 'C4_BR',
 'C5_BR',
 'C6_BR',
 'C7_BR',
 'C8_BR',
 'C9_BR',
 'C1_GR',
 'C2_GR',
 'C3_GR',
 'C4_GR',
 'C5_GR',
 'C6_GR',
 'C7_GR',
 'C8_GR',
 'C9_GR',
 'SCPTOT',
 'SCPTOT_G',
 'SCUTOT',
 'SCUTOT_G',
 'STPTOT',
 'STPTOT_G',
 'STUTOT',
 'STUTOT_G',
 'OBPTOT',
 'OBUTOT',
 'OBPTOT_G',
 'OBUTOT_G',
 'MUPTOT',
 'MUUTOT',
 'MUPTOT_G',
 'MUUTOT_G',
 'BLC1',
 'LVC1',
 'HEC1',
 'SPC1',
 'LOC1',
 'MEC1',
 'LEC1',
 'CPC1',
 'AUC1',
 'MUC1',
 'BLC2',
 'LVC2',
 'HEC2',
 'SPC2',
 'LOC2',
 'MEC2',
 'LEC2',
 'CPC2',
 'AUC2',
 'MUC2',
 'BLC3',
 'LVC3',
 'HEC3',
 'SPC3',
 'LOC3',
 'MEC3',
 'LEC3',
 'CPC3',
 'AUC3',
 'MUC3',
 'BLC4',
 'LVC4',
 'HEC4',
 'SPC4',
 'LOC4',
 'MEC4',
 'LEC4',
 'CPC4',
 'AUC4',
 'MUC4',
 'BLC5',
 'LVC5',
 'HEC5',
 'SPC5',
 'LOC5',
 'MEC5',
 'LEC5',
 'CPC5',
 'AUC5',
 'MUC5',
 'BLC6',
 'LVC6',
 'HEC6',
 'SPC6',
 'LOC6',
 'MEC6',
 'LEC6',
 'CPC6',
 'AUC6',
 'MUC6',
 'BLC7',
 'LVC7',
 'HEC7',
 'SPC7',
 'LOC7',
 'MEC7',
 'LEC7',
 'CPC7',
 'AUC7',
 'MUC7',
 'BLC8',
 'LVC8',
 'HEC8',
 'SPC8',
 'LOC8',
 'MEC8',
 'LEC8',
 'CPC8',
 'AUC8',
 'MUC8',
 'TOTCLGD1G',
 'TOTCLGD2G',
 'TOTCLGD3G',
 'TOTCLGD4G',
 'TOTCLGD5G',
 'TOTCLGD6G',
 'TOTCLGD7G',
 'TOTCLMI1G',
 'TOTCLMI2G',
 'TOTCLMI3G',
 'TOTCLMI4G',
 'TOTCLMI5G',
 'TOTCLMI6G',
 'TOTCLMI7G',
 'TOTCLMJ1G',
 'TOTCLMJ2G',
 'TOTCLMJ3G',
 'TOTCLMJ4G',
 'TOTCLMJ5G',
 'TOTCLMJ6G',
 'TOTCLMJ7G',
 'TOTCLOT1G',
 'TOTCLOT2G',
 'TOTCLOT3G',
 'TOTCLOT4G',
 'TOTCLOT5G',
 'TOTCLOT6G',
 'TOTCLOT7G',
 'TCHBS1',
 'TCHBS2',
 'TCHBS3',
 'TCHBS4',
 'TCHBS5',
 'TCHBS6',
 'TCHBS7',
 'TCHSEC1',
 'TCHSEC2',
 'TCHSEC3',
 'TCHSEC4',
 'TCHSEC5',
 'TCHSEC6',
 'TCHSEC7',
 'TCHHS1',
 'TCHHS2',
 'TCHHS3',
 'TCHHS4',
 'TCHHS5',
 'TCHHS6',
 'TCHHS7',
 'TCHGD1',
 'TCHGD2',
 'TCHGD3',
 'TCHGD4',
 'TCHGD5',
 'TCHGD6',
 'TCHGD7',
 'TCHPG1',
 'TCHPG2',
 'TCHPG3',
 'TCHPG4',
 'TCHPG5',
 'TCHPG6',
 'TCHPG7',
 'TCHMD1',
 'TCHMD2',
 'TCHMD3',
 'TCHMD4',
 'TCHMD5',
 'TCHMD6',
 'TCHMD7',
 'TCHPD1',
 'TCHPD2',
 'TCHPD3',
 'TCHPD4',
 'TCHPD5',
 'TCHPD6',
 'TCHPD7',
 'TCHNR1',
 'TCHNR2',
 'TCHNR3',
 'TCHNR4',
 'TCHNR5',
 'TCHNR6',
 'TCHNR7',
 'TCHCON1',
 'TCHCON2',
 'TCHCON3',
 'TCHCON4',
 'TCHCON5',
 'TCHCON67',
 'TCHCON8',
 'TCHCON9',
 'TCHRM1',
 'TCHRM2',
 'TCHRM3',
 'TCHRM4',
 'TCHRM5',
 'TCHRM6',
 'TCHRM7',
 'TCHRF1',
 'TCHRF2',
 'TCHRF3',
 'TCHRF4',
 'TCHRF5',
 'TCHRF6',
 'TCHRF7',
 'TCHRN1',
 'TCHRN2',
 'TCHRN3',
 'TCHRN4',
 'TCHRN5',
 'TCHRN6',
 'TCHRN7',
 'TCHCM1',
 'TCHCM2',
 'TCHCM3',
 'TCHCM4',
 'TCHCM5',
 'TCHCM6',
 'TCHCM7',
 'TCHCF1',
 'TCHCF2',
 'TCHCF3',
 'TCHCF4',
 'TCHCF5',
 'TCHCF6',
 'TCHCF7',
 'TCHCN1',
 'TCHCN2',
 'TCHCN3',
 'TCHCN4',
 'TCHCN5',
 'TCHCN6',
 'TCHCN7',
 'TLM_R1',
 'TLM_R2',
 'TLM_R3',
 'TLM_R4',
 'TLM_R5',
 'TLM_R6',
 'TLM_R7',
 'TLME',
 'TLMR',
 'CONTIE',
 'CONTIR',
 'CONTI_R1',
 'CONTI_R2',
 'CONTI_R3',
 'CONTI_R4',
 'CONTI_R5',
 'CONTI_R6',
 'CONTI_R7',
 'PIDAY30',
 'PIDAYSCH',
 'UIDAY35',
 'UIDAYSCH',
 'M1',
 'M2',
 'M3',
 'M4',
 'M5',
 'ENRE11',
 'ENRE12',
 'ENRE13',
 'ENRE14',
 'ENRE15',
 'ENRE16',
 'ENRE17',
 'ENRE21',
 'ENRE22',
 'ENRE23',
 'ENRE24',
 'ENRE25',
 'ENRE26',
 'ENRE27',
 'ENRE31',
 'ENRE32',
 'ENRE33',
 'ENRE34',
 'ENRE35',
 'ENRE36',
 'ENRE37',
 'ENRE41',
 'ENRE42',
 'ENRE43',
 'ENRE44',
 'ENRE45',
 'ENRE46',
 'ENRE47',
 'ENRE51',
 'ENRE52',
 'ENRE53',
 'ENRE54',
 'ENRE55',
 'ENRE56',
 'ENRE57',
 'TCH_5556M',
 'TCH_5556F',
 'TCH_5556T',
 'TCH_5758M',
 'TCH_5758F',
 'TCH_5758T',
 'TCH_5960M',
 'TCH_5960F',
 'TCH_5960T',
 'PPTR30',
 'UPTR35',
 'PSCR30',
 'USCR35',
 'NOTCH_ASS',
 'TCHINV',
 'PTXT_ALL',
 'PTXT_SC',
 'PTXT_ST',
 'PUNI_ALL',
 'PUNI_SC',
 'PUNI_ST',
 'UTXT_ALL',
 'UTXT_SC',
 'UTXT_ST',
 'UUNI_ALL',
 'UUNI_SC',
 'UUNI_ST',
 'TOTCLS1G',
 'TOTCLS2G',
 'TOTCLS3G',
 'TOTCLS4G',
 'TOTCLS5G',
 'TOTCLS6G',
 'TOTCLS7G']

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Columns: 819 entries, AC_YEAR to TOTCLS7G
dtypes: float64(13), int64(803), object(3)
memory usage: 4.2+ MB

In [10]:
#Extract only a particular column from the dataframe using column name
df_districts = df['DISTNAME']
print(df_districts)

0          KUPWARA
1         BARAMULA
2         SRINAGAR
3           BADGAM
4          PULWAMA
          ...
675    RANGA REDDY
676    MAHBUBNAGAR
677       NALGONDA
678       WARANGAL
679        KHAMMAM
Name: DISTNAME, Length: 680, dtype: object

In [ ]:
#Extract first column from the dataframe using iloc
#The iloc indexer syntax is data.iloc[<row selection>, <column selection>]
df_row0 = df.iloc[:,0] # first column of data frame
print(df_row0)

In [ ]:
#Extract last column from the dataframe using iloc
df_last_row = df.iloc[:,-1] # first column of data frame
print(df_last_row)

In [ ]:
#Extract second row from the dataframe
df_row2 = df.iloc[1]
print(df_row1)

In [ ]:
#Extract first five rows of the dataframe
df_five_rows = df.iloc[1:5]
print(df_five_rows)

In [ ]:
#Extract first five rows and five columns of the dataframe
df_five_rows_columns = df.iloc[1:5, 1:5]
print(df_five_rows_columns)

In [ ]:
#Extract first five rows and selective columns of the dataframe
df_five_rows_columns = df.iloc[1:5, [1,4,5]]
print(df_five_rows_columns)

In [ ]:
#Convert dataframe into multi-dimesional array
df.iloc[1:5,1:].values

In [ ]:
#Count the number of rows particular value occurs inte the data-frame
df['STATNAME'].value_counts()

In [ ]:
#Select rows which has number of villages > 1500
df[df['VILLAGES'] > 1500]

In [ ]:
#Install lxml to parse html tables
#!type python
#!type -a pip
#!pip3 install lxml

In [ ]:
#Read cisco share price history table from wikipedia URL

#lxml is needed by read_html api, hence need to import it
import lxml

#URL for wikipedia link
url_cisco = 'https://en.wikipedia.org/wiki/Cisco_Systems'

#pandas.read_html table reads all the tables in URL specified
#which has match-string specified by match
#If there are multiple table, it will be read into a list of data-frames
df_cisco = pd.read_html(url_cisco, match='Employees', header=0)

In [ ]:
#Since read_html returns list of data-frames
#Get the first table into a data-frame
df_cisco_history = df_cisco[0]

In [ ]:
#print first five rows
df_cisco_history.head()

In [ ]:
#print yearwise cisco share-price
df_cisco_history.iloc[:,[0,4]]

In [ ]:
#URL for wikipedia link
url_cisco = 'https://finance.yahoo.com/quote/CSCO/history?period1=1425081600&period2=1582848000&interval=1d&filter=history&frequency=1d'
df_cisco_daily = pd.read_html(url_cisco, match='Volume', header=0)
df_cisco_daily[0].head()