In [4]:
#First step is to import pandas
import pandas as pd

In [5]:
#Read the CSV file from the district-wise-education data for India
df = pd.read_csv("2015_16_Districtwise.csv")

In [6]:
#Read the first few rows of the dataframe
df.head()

,AC_YEAR,STATCD,DISTCD,STATNAME,DISTNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,...,UUNI_ALL,UUNI_SC,UUNI_ST,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
0,2015-16,1,101,JAMMU & KASHMIR,KUPWARA,1,13,391,104,875564.0,...,21322,26,2594,3489,5315,27,62,23,852,239
1,2015-16,1,102,JAMMU & KASHMIR,BARAMULA,1,18,678,144,1015503.0,...,17307,0,1571,4127,5800,210,53,30,1665,360
2,2015-16,1,103,JAMMU & KASHMIR,SRINAGAR,1,8,94,65,1269751.0,...,5444,31,408,817,3284,886,11,0,2873,40
3,2015-16,1,104,JAMMU & KASHMIR,BADGAM,1,13,523,104,735753.0,...,12469,18,857,2290,3837,119,45,8,1035,325
4,2015-16,1,105,JAMMU & KASHMIR,PULWAMA,1,8,359,64,570060.0,...,7408,17,855,1688,2584,151,67,5,1101,209

In [ ]:
#Read the last few rows of the dataframe
df.tail()

In [ ]:
#Shape api will list the number of rows and columns
df.shape

In [ ]:
#Print the data-types of different column
df.dtypes

In [ ]:
#Print the data-type of a particular column
print(df.dtypes['STATNAME'])

In [ ]:
#List the columns in the table
list(df.columns)

In [ ]:
df.info()

In [ ]:
#Extract only a particular column from the dataframe using column name
df_districts = df['DISTNAME']
print(df_districts)

In [ ]:
#Extract first column from the dataframe using iloc
#The iloc indexer syntax is data.iloc[<row selection>, <column selection>]
df_row0 = df.iloc[:,0] # first column of data frame
print(df_row0)

In [ ]:
#Extract last column from the dataframe using iloc
df_last_row = df.iloc[:,-1] # first column of data frame
print(df_last_row)

In [ ]:
#Extract second row from the dataframe
df_row2 = df.iloc[1]
print(df_row1)

In [ ]:
#Extract first five rows of the dataframe
df_five_rows = df.iloc[1:5]
print(df_five_rows)

In [ ]:
#Extract first five rows and five columns of the dataframe
df_five_rows_columns = df.iloc[1:5, 1:5]
print(df_five_rows_columns)

In [ ]:
#Extract first five rows and selective columns of the dataframe
df_five_rows_columns = df.iloc[1:5, [1,4,5]]
print(df_five_rows_columns)

In [ ]:
#Convert dataframe into multi-dimesional array
df.iloc[1:5,1:].values

In [ ]:
#Count the number of rows particular value occurs inte the data-frame
df['STATNAME'].value_counts()

In [ ]:
#Select rows which has number of villages > 1500
df[df['VILLAGES'] > 1500]

In [ ]:
#Install lxml to parse html tables
#!type python
#!type -a pip
#!pip3 install lxml

In [ ]:
#Read cisco share price history table from wikipedia URL

#lxml is needed by read_html api, hence need to import it
import lxml

#URL for wikipedia link
url_cisco = 'https://en.wikipedia.org/wiki/Cisco_Systems'

#pandas.read_html table reads all the tables in URL specified
#which has match-string specified by match
#If there are multiple table, it will be read into a list of data-frames
df_cisco = pd.read_html(url_cisco, match='Employees', header=0)

In [ ]:
#Since read_html returns list of data-frames
#Get the first table into a data-frame
df_cisco_history = df_cisco[0]

In [ ]:
#print first five rows
df_cisco_history.head()

In [ ]:
#print yearwise cisco share-price
df_cisco_history.iloc[:,[0,4]]

In [3]:
#URL for wikipedia link
url_cisco = 'https://finance.yahoo.com/quote/CSCO/history?period1=1425081600&period2=1582848000&interval=1d&filter=history&frequency=1d'
df_cisco_daily = pd.read_html(url_cisco, match='Volume', header=0)
df_cisco_daily[0].head()

           Date   Open   High    Low Close* Adj Close**    Volume
0  Feb 27, 2020  41.28  42.10  40.01  40.04       40.04  51423000
1  Feb 26, 2020  42.97  43.38  41.94  42.16       42.16  38513200
2  Feb 25, 2020  44.05  44.21  42.07  42.74       42.74  48024700
3  Feb 24, 2020  45.00  45.68  44.00  44.00       44.00  35295900
4  Feb 21, 2020  46.73  46.85  46.05  46.30       46.30  20028700